importFrom("stats", "model.response", "model.matrix", "model.frame")
importFrom("graphics", "plot", "points", "legend")
importFrom("utils", "tail")
importFrom("survival", "Surv", "is.Surv", "coxph")
importFrom("Iso", "pava")

export(isoph, isoph)

S3method(print, isoph, print.isoph)
S3method(plot, isoph, plot.isoph)
